.wrap {
    width: 100%;
    background-color: var(--bg-info-header);
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoBlock {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.catalogBlock {
    width: 20%;
    background-color: #7b7b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBlock {
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeWorkBlock {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsBlock {
    width: 15%;
}

.cartLikeBlock {
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}