.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.2s ease;
}

.active {
    color: #0077ff;
    text-decoration: none;
}