.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s ease;
    font-weight: bold;
}

.active {
    color: var(--bg-button);
    text-decoration: none;
}