.wrap {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerBlock {
    width: 100%;
}

.outletBlock {
    width: 100%;
}

.footerBlock {
    width: 100%;
}